html {
    font-size: 20px;
    color: rgb(30, 30, 40);
}




body {
    margin: 0%;
    padding: 0%;
    font-family: 'Playfair Display' sans-serif;
    line-height: 2;
    font-size: 1rem;




}

h1 {
    font-size: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #222222;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}




a {
    text-decoration: none;
    color: #3882f6;


}

a:hover {
    color: #1120a7
}


#navbar {
    padding: 8px;
    margin: 0;
}

/* #logo {
    height: 32px;
} */

h1 {
    text-align: center;
    color: darkblue;

}

#banner {

    width: 100%;
}

#about {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

#description {

    width: 50%;
    background-color: aliceblue;
    padding-right: 8px;
    font-style: italic;
    font-size: 1.25rem;
}

#team {
    width: 50%;
}





#team-image {
    border-radius: 5px;
    width: 100%;

}

#jobs-table {
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
}



.jobs-header-row th {
    border: 1px solid gray;
    text-align: center;
    padding: 8px;
    background-color: darkgray;
    color: #222222;

}

.jobs-data-row td {
    border: 1px solid gray;
    padding: 8px;
    text-align: left;
}

#jobs-table tr:nth-child(odd) {
    background-color: aliceblue;
}

h2 {
    text-align: center;


}

#application {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 auto;
}

.form-group {
    margin: 16px;





}

#application-form label {
    font-weight: 600;

}

#application-form input,
textarea,
select {
    padding: 8px;
    font-size: 1.25rem;
    margin-top: 4px;
    border-radius: 5px;
    border: 1px solid gray;

}

.form-group textarea {
    width: 80%;
    font-family: 'Roboto', sans-serif;

}

.form-group input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.form-group input[type="submit"] {
    background-color: #6b78f0;
    color: white;
    font-weight: 500;
   cursor: pointer;
}


#jobs {

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 8px;

}


h3 {
    margin-bottom: 0;
    margin-top: 0;

}

.apply {
    float: right;
}

#footer {
    background-color: ghostwhite;
    padding: 8px;
    margin-top: 32px;
    text-align: center;
}

#footer-links {

    list-style: none;


}

#footer-links li {
    display: inline;
    margin: 0 16px;
}

.copyright {
    font-size: 0.875rem;
    color: #3a3ab6;
}